html, body {
    height: 100%;
}

body * {
	font-family: ‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;
}

.header {
	border-bottom: 2px solid #3987c9;
	margin-bottom: 20px;
}

.logo {
	text-align: center;
}

.logo img {
	height: 150px;
}

.links {
	text-align: center;
}

.links{
	margin-top:50px;
}

.active {
	font-weight: bold;
}

.links > a {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
}

.links > a:not(.selected) {
	color: #4D4D4D;
}

.links a:hover {
	color: #3987c9;
}

.links a:focus {
	color: black;
}

.selected {
	color: #C9C9C9;
}

.menu {
	float: left;
	font-size: 25px;
	padding: 3px;
	padding-right: 12px;
}

footer {
	text-align: center;
}

.footer a {
	padding: 20px;
	color: #C9C9C9;
}

.createdBy > a, a {
	padding: 0px;
	color: #e84d4d;
}

.social a {
	font-size: 40px;
}

.footer a:hover {
	color: #3987c9;
}

.rights {
	padding-top: 40px;
	margin-top: 30px;
	border-top:2px solid #3987c9;
}

.content {
	text-align: center;
}

.table {
	width: 100%;
  	text-align: center;
}

span {
	color: #e84d4d;
}

.title {
	margin-bottom: 20px;
}

.menuOverlay {
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.90); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* Just to keep it at the very top */
    text-align: center;
    display: none;
}

.menuOverlay > div {
	margin-top: 50px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: block;

}

.menuOverlay *:not(h1) {
	font-size: 30px;
	color: black;
}

.menuOverlay *:hover:not(h1) {
	color: #3987c9;
}

.menuOverlay i {
	color: #4D4D4D; 
	float: left;
	margin-left: 20px;
}

.menuOverlay h1 {
	text-decoration: underline;
}

.menu i {
	color: #4D4D4D;
}

.menu i:hover {
	color: #3987c9;
}

.menuUp {
	margin-left: 20px;
}


@media only screen and (max-width: 40em) {
	h4 {
		font-size: 25px;
	}
}